<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laulee.pluginlib">

    <application>
        <service android:name=".LocalService" />

        <activity android:name="com.laulee.pluginlib.StubActivity" />
    </application>
</manifest>